div {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  cursor: default;
}
.legend {
  font-family: 'Raleway', sans-serif;
  fill: #555252;
}
.tooltip {
  fill: #272525;
}