
  <div class="row" style="max-width: 88rem;">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h1 class="text-info text-center">Áreas</h1>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="btn-group">
        <button type="button" clicked="true" class="btn text-info border-info bg-dark">Hoje</button>
        <button type="button" class="btn text-info border-info bg-dark">Este Mês</button>
        <button type="button" class="btn text-info border-info bg-dark">Este Ano</button>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 col-lg-3">
      <app-card [strings]="card1"></app-card>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <app-card [strings]="card2"></app-card>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <app-card [strings]="card3"></app-card>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <app-card [strings]="card4"></app-card>
    </div>

    <div class="col-sm-10 col-md-6 col-lg-6">
      <div class="card text-white border-info bg-dark mb-3">
        <app-graf1 [dados]="barChart" [axisNames]="axisNamesBar" [colors]="colors"></app-graf1>
        <div class="card-body">
          <h5 class="card-title text-center">Tempo Médio de cada Área</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-6 col-lg-6">
      <div class="card text-white border-info bg-dark mb-3">
        <app-donut-chart [dados]="donutChart" [colors]="colors"></app-donut-chart>
        <div class="card-body">
          <h5 class="card-title text-center">Representativade das Áreas nos Eventos</h5>
        </div>
      </div>
    </div>

    <div class="col-sm-10 col-md-6 col-lg-6">
      <div class="card text-white border-info bg-dark mb-3">
        <app-bullet-chart [dados]="bulletChart" [axisNames]="axisNamesBullet" [colors]="colors" [height]="bulletHeight"></app-bullet-chart>
        <div class="card-body">
          <h5 class="card-title text-center">Coerência das Áreas</h5>
        </div>
      </div>
    </div>

    <div class="col-sm-10 col-md-6 col-lg-6">
      <div class="card text-white border-info bg-dark mb-3">
        <app-pie-chart [dados]="pieChart" [colors]="colors"></app-pie-chart>
        <div class="card-body">
          <h5 class="card-title text-center">Representatividade das Áreas no formulário</h5>
        </div>
      </div>
    </div>

  </div>

<router-outlet></router-outlet>