<div #chart id="chart"></div>

 <div id="wrapper" class="wrapper">
    <div id="tooltip" class="tooltip">
        <div class="tooltip-range" id="range"></div>
        <div class="tooltip-examples" id="examples"></div>
        <div class="tooltip-value">
            ...of <span id="count"></span> tasks
        </div>
        <div class="tooltip-bar-value">
            <b><span id="tooltip-bar-value"></span>%</b>
            of the work was done by developers
        </div>
        <div class="tooltip-bar">
            <div class="tooltip-bar-fill" id="tooltip-bar-fill"></div>
        </div>
    </div>
</div>