<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <select (change)="onChange($event)">
    <option>Dashboard 1</option>
    <option>Dashboard 2</option>
    <option>Dashboard 3</option>
  </select>
  
  <app-dashboard4 [clientsData]="dadosClients"></app-dashboard4>
  
    <!--
  <div class="row">
    <ng-container *ngIf="dash1; else Dash2">
      <div class="col-sm-10 col-md-6 col-lg-5">
        <div class="card text-white border-info bg-dark mb-3">
          <app-line-chart [dados]="grafLinha" [tipos]="nomesLinhas" [data]="lineData | async"></app-line-chart>
          <div class="card-body">
            <h5 class="card-title text-center">Gráfico de Linha </h5>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-5">
        <div class="card text-white border-info bg-dark mb-3">
          <app-donut-chart [dados]="dados" [query]="consulta" [data]="data | async"  [myData]="myData | async"></app-donut-chart>
          <div class="card-body">
            <h5 class="card-title text-center">Gráfico de Donut</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-5">
        <div class="card text-white border-info bg-dark mb-3">
          <app-bubble-chart [data]="grafArea" [query]="consulta1"></app-bubble-chart>
          <div class="card-body">
            <h5 class="card-title text-center">Gráfico Area </h5>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-5">
        <div class="card text-white border-info bg-dark mb-3">
          <app-bullet-chart [dados]="dados" [query]="consulta"></app-bullet-chart>
          <div class="card-body">
            <h5 class="card-title text-center">Gráfico Bullet </h5>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #Dash2>
      <ng-container *ngIf="dash2; else Dash3">
        <div class="col-sm-10 col-md-6 col-lg-5">
          <div class="card text-white border-info bg-dark mb-3">
            <app-pie-chart [dados]="dados" [query]="consulta" [data]="data | async" [myData]="myData | async"></app-pie-chart>
            <div class="card-body">
              <h5 class="card-title text-center">Gráfico de Pizza</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-5">
          <div class="card text-white border-info bg-dark mb-3">
            <app-radar-chart [data]="grafRadar" [query]="consulta"></app-radar-chart>
            <div class="card-body">
              <h5 class="card-title text-center">Gráfico Radar </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-5">
          <div class="card text-white border-info bg-dark mb-3">
            <app-graf1 [dados]="dados" [query]="consulta" [data]="data | async" [myData]="myData | async"></app-graf1>
            <div class="card-body">
              <h5 class="card-title text-center">Gráfico de Barras</h5>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #Dash3>
      <ng-container *ngIf="dash3">
        <div class="col-sm-10 col-md-6 col-lg-5">
          <div class="card text-white border-info bg-dark mb-3">
            <app-graf1 [dados]="dados" [query]="consulta" [data]="data | async" [myData]="myData | async"></app-graf1>
            <div class="card-body">
              <h5 class="card-title text-center">Gráfico de Barras</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-5">
          <div class="card text-white border-info bg-dark mb-3">
            <app-donut-chart [dados]="dados" [query]="consulta" [data]="data | async"  [myData]="myData | async"></app-donut-chart>
            <div class="card-body">
              <h5 class="card-title text-center">Gráfico de Donut</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-5">
          <div class="card text-white border-info bg-dark mb-3">
            <app-table [dados]="dados"></app-table>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </div>
  -->
</div>

<router-outlet></router-outlet>
