
  <div class="row">
    <div class="col-sm-10 col-md-6 col-lg-5">
      <div class="card text-white border-info bg-dark mb-3">
        <app-pie-chart [dados]="dados"></app-pie-chart>
        <div class="card-body">
          <h5 class="card-title text-center">Gráfico de Pizza</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-6 col-lg-5">
      <div class="card text-white border-info bg-dark mb-3">
        <app-radar-chart [data]="grafRadar"></app-radar-chart>
        <div class="card-body">
          <h5 class="card-title text-center">Gráfico Radar </h5>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-6 col-lg-5">
      <div class="card text-white border-info bg-dark mb-3">
        <app-graf1 [dados]="dados"></app-graf1>
        <div class="card-body">
          <h5 class="card-title text-center">Gráfico de Barras</h5>
        </div>
      </div>
    </div>
  </div>
