<div class="row" style="max-width: 88rem;">
  <div class="col-sm-12 col-md-12 col-lg-12">
  <h1 class="text-info text-center">{{choosenArea}}</h1>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3">
    <app-card [strings]="card1"></app-card>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3">
    <app-card [strings]="card2"></app-card>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3">
    <app-card [strings]="card3"></app-card>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3">
    <app-card [strings]="card4"></app-card>
  </div>
  
  <div class="col-sm-12 col-md-7 col-lg-7">
    <div class="card text-white border-info bg-dark mb-3">
      <app-bubble-chart [data]="areaChart" [axisNames]="axisNamesArea" [colors]="colors" [areasName]="areasNames"></app-bubble-chart>
      <div class="card-body">
        <h5 class="card-title text-center">Distribuição das Médias de Eventos ao longo do tempo</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-10 col-md-5 col-lg-5">
    <div class="card text-white border-info bg-dark mb-3">
      <app-pie-chart [dados]="pieChart" [colors]="colors"></app-pie-chart>
      <div class="card-body">
        <h5 class="card-title text-center">Proporção de Eventos</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-7 col-lg-7">
    <div class="card text-white border-info bg-dark mb-3">
      <app-line-chart [dados]="lineChart" [tipos]="nomesLinhas" [axisNames]="axisNamesLine" [colors]="colors"></app-line-chart>
      <div class="card-body">
        <h5 class="card-title text-center">Distribuição dos Eventos ao longo do tempo</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-10 col-md-7 col-lg-5">
    <div class="card text-white border-info bg-dark mb-3">
      <app-bullet-chart [dados]="bulletChart" [axisNames]="axisNamesBullet" [colors]="colors" [height]="bulletHeight"></app-bullet-chart>
      <div class="card-body">
        <h5 class="card-title text-center">Tempo Médio Gasto</h5>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>