
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="card text-white border-info bg-dark mb-3">
      <app-bubble-chart [data]="grafArea"></app-bubble-chart>
      <div class="card-body">
        <h5 class="card-title text-center">Distribuição das horas dos acessos</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-md-4 col-lg-4">
    <div class="card text-white border-info bg-dark mb-3">
      <app-donut-chart [dados]="grafDonut"></app-donut-chart>
      <div class="card-body">
        <h5 class="card-title text-center">Acessos por Navegador</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card text-white border-info bg-dark mb-3">
      <app-graf1 [dados]="grafBar"></app-graf1>
      <div class="card-body">
        <h5 class="card-title text-center">Distribuição dos Dias dos acessos</h5>
      </div>
    </div>
  </div>
  
  
 </div>